[submodule "emacs/.emacs.d/plugins/auto-complete"]
	path = emacs/.emacs.d/plugins/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "emacs/.emacs.d/plugins/coffee-mode"]
	path = emacs/.emacs.d/plugins/coffee-mode
	url = git@github.com:defunkt/coffee-mode.git
[submodule "emacs/.emacs.d/plugins/emacs-elixir"]
	path = emacs/.emacs.d/plugins/emacs-elixir
	url = git@github.com:elixir-lang/emacs-elixir.git
[submodule "emacs/.emacs.d/plugins/expand-region"]
	path = emacs/.emacs.d/plugins/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "emacs/.emacs.d/plugins/ace-jump-mode"]
	path = emacs/.emacs.d/plugins/ace-jump-mode
	url = git@github.com:winterTTr/ace-jump-mode.git
[submodule "emacs/.emacs.d/plugins/gnus"]
	path = emacs/.emacs.d/plugins/gnus
	url = git@github.com:emacsmirror/gnus.git
[submodule "emacs/.emacs.d/plugins/magit"]
	path = emacs/.emacs.d/plugins/magit
	url = git@github.com:magit/magit.git
[submodule "emacs/.emacs.d/plugins/git-modes"]
	path = emacs/.emacs.d/plugins/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "emacs/.emacs.d/plugins/multiple-cursors"]
	path = emacs/.emacs.d/plugins/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "emacs/.emacs.d/plugins/wrap-region"]
	path = emacs/.emacs.d/plugins/wrap-region
	url = git@github.com:rejeep/wrap-region.el.git
[submodule "emacs/.emacs.d/plugins/dash"]
	path = emacs/.emacs.d/plugins/dash
	url = git@github.com:magnars/dash.el.git
[submodule "emacs/.emacs.d/plugins/yasnippet"]
	path = emacs/.emacs.d/plugins/yasnippet
	url = git@github.com:capitaomorte/yasnippet.git
[submodule "emacs/.emacs.d/plugins/js2-mode"]
	path = emacs/.emacs.d/plugins/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "emacs/.emacs.d/plugins/swank-js"]
	path = emacs/.emacs.d/plugins/swank-js
	url = git@github.com:swank-js/swank-js.git
[submodule "emacs/.emacs.d/plugins/slime"]
	path = emacs/.emacs.d/plugins/slime
	url = git@github.com:nablaone/slime.git
[submodule "emacs/.emacs.d/plugins/zencoding"]
	path = emacs/.emacs.d/plugins/zencoding
	url = git@github.com:rooney/zencoding.git
[submodule "emacs/.emacs.d/plugins/helm"]
	path = emacs/.emacs.d/plugins/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "emacs/.emacs.d/plugins/helm-ls-git"]
	path = emacs/.emacs.d/plugins/helm-ls-git
	url = git@github.com:emacs-helm/helm-ls-git.git
[submodule "emacs/.emacs.d/plugins/rainbow-delimiters"]
	path = emacs/.emacs.d/plugins/rainbow-delimiters
	url = git@github.com:jlr/rainbow-delimiters.git
[submodule "emacs/.emacs.d/plugins/smex"]
	path = emacs/.emacs.d/plugins/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "emacs/.emacs.d/plugins/sr-speedbar"]
	path = emacs/.emacs.d/plugins/sr-speedbar
	url = git@github.com:emacsmirror/sr-speedbar.git
[submodule "emacs/.emacs.d/plugins/window-numbering"]
	path = emacs/.emacs.d/plugins/window-numbering
	url = git@github.com:nschum/window-numbering.el.git
[submodule "emacs/.emacs.d/plugins/workgroups"]
	path = emacs/.emacs.d/plugins/workgroups
	url = git@github.com:tlh/workgroups.el.git
[submodule "emacs/.emacs.d/plugins/god-mode"]
	path = emacs/.emacs.d/plugins/god-mode
	url = git@github.com:chrisdone/god-mode.git
[submodule "emacs/.emacs.d/plugins/helm-swoop"]
	path = emacs/.emacs.d/plugins/helm-swoop
	url = git@github.com:ShingoFukuyama/helm-swoop.git
