*#
.#*
*~
.*.swp
dist/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/elim
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/elpa
emacs/.emacs.d/emm
emacs/.emacs.d/emms
emacs/.emacs.d/backups
emacs/.emacs.d/tramp
